opencv-python==4.1.1.26
websockets==7.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.0.3
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
pandas==0.24.2
pygame==1.9.4
joblib==0.13.2
mpi4py==3.0.2
